footer{
    padding: 10px 40px;
    background-color: coral;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
